<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>


    <h1 class="fs-1 font-monospace d-flex justify-content-center p-5">Set</h1>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set1.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set2.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set3.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set4.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set5.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set6.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set7.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set8.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set9.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set10.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set11.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set12.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set13.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set14.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set15.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set16.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set17.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set18.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set19.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set20.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set21.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set22.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set23.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set24.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set25.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set26.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set27.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set28.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set29.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set30.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set31.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set32.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set33.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set34.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set35.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set36.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set37.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set38.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set39.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set40.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set41.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set42.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set43.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set44.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set45.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set46.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set47.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set48.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set49.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set50.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set51.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set52.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set53.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set54.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set55.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set56.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set57.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set58.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set59.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set60.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set61.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set62.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set63.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set64.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set65.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set66.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set67.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set68.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set69.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_set/set70.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
            </div>
          </div>   
    </div>

    <div class="card text-center">
        <div class="card-header font-monospace">
          Gold.uz
        </div>
        <div class="card-body">
          <h5 class="card-title font-monospace">Agar mahsulotlarimiz yoqqan bo'lsa menga murojaat qiling:</h5>
          <p class="card-text font-monospace">Tel:(99)123-45-67</p>
          <p><a href="#" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover font-monospace">Instagram</a></p>
          <p><a href="#" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover font-monospace">Telegram</a></p>
        </div>
      </div>

</body>
</html>