<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>


    <h1 class="fs-1 font-monospace d-flex justify-content-center p-5">Ring</h1>


    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg1.JPG' %}" class="card-img-top" style="height: 200px; object-fit: contain;" alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg2.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg3.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg4.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>

    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg5.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg6.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg7.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg8.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>

    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg9.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg10.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg11.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg12.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>

    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg13.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg14.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg15.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg16.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>

    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg17.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg18.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg19.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg20.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>

    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg21.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg22.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg23.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg24.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>

    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg25.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg26.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg27.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg28.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>

    <div class="container d-flex justify-content-center gap-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg29.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg30.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg31.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'gold_ring/ringg32.JPG' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
            </div>
          </div>
    </div>



    <div class="card text-center">
        <div class="card-header font-monospace">
          Gold&Silver.uz
        </div>
        <div class="card-body">
          <h5 class="card-title font-monospace">Agar mahsulotlarimiz yoqqan bo'lsa menga murojaat qiling:</h5>
          <p class="card-text font-monospace">Tel:(99)123-45-67</p>
          <p><a href="#" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover font-monospace">Instagram</a></p>
          <p><a href="#" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover font-monospace">Telegram</a></p>
        </div>
      </div>


</body>
</html>