<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

  <header>
<nav class="navbar bgg navbar-expand-lg bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand font-monospace" href="#">Gold.uz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link font-monospace" href="{% url 'gold_main_page' %}">Gold</a>
      </div>
    </div>
  </div>
</nav>
  </header>

  <h1 class="d-flex justify-content-center p-5 font-monospace">Set</h1>

<div class="container d-flex justify-content-center gap-5 p-5">
  <div class="card " style="width: 18rem;">
    <img src="{% static 'main/fit1.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold chain, the gold chain probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/fit2.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/fit3.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold earrings, the gold earrings probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/fit4.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
</div>



<div class="container d-flex justify-content-center gap-5 p-5">
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/fit5.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/fit6.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold earrings, the gold earrings probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/fit7.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/fit8.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold set, the gold set probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
</div>


<h1 class="d-flex justify-content-center p-5 font-monospace">Ring</h1>


<div class="container d-flex justify-content-center gap-5 p-5">
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/ring1.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/ring2.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold chain, the gold chain probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/ring3.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold chain, the gold chain probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/ring4.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold chain, the gold chain probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
</div>



<div class="container d-flex justify-content-center gap-5 p-5">
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/ring5.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/ring6.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold chain, the gold chain probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/ring7.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold chain, the gold chain probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
</div>

<h1 class="d-flex justify-content-center p-5 font-monospace">Chain</h1>


<div class="container d-flex justify-content-center gap-5 p-5">
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/chain1.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/chain2.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold chain, the gold chain probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/chain3.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold chain, the gold chain probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/chain4.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold chain, the gold chain probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
</div>

<h1 class="d-flex justify-content-center p-5 font-monospace">Earrings</h1>


<div class="container d-flex justify-content-center gap-5 p-5">
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/earrings1.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold ring, the gold ring probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'main/earrings2.JPG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text font-monospace">It is gold chain, the gold chain probas is 585, for 1gr it 47$.</p>
    </div>
  </div>
</div>


<div class="card text-center">
  <div class="card-header font-monospace">
    Gold.uz
  </div>
  <div class="card-body">
    <h5 class="card-title font-monospace">Agar mahsulotlarimiz yoqqan bo'lsa menga murojaat qiling:</h5>
    <p class="card-text font-monospace">Tel:(99)123-45-67</p>
    <p><a href="#" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover font-monospace">Instagram</a></p>
    <p><a href="#" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover font-monospace">Telegram</a></p>
  </div>
</div>

</body>
</html>